.card-container {
    width:  180px;
    height: 200px;
    border-radius: 1.5rem;
    background-color: #ffffff;
    box-shadow: 2.5px 2.5px rgba(0,0,0,0.4);
    transition: 0.4s ease-out;
    margin: 10px;
    
} 
.card-container:hover {
    width: 185px;
    height: 205px;
    box-shadow: 5px 5px rgba(0,0,0, 0.6);
}

.pokemon-img{
    margin-top: 5px;
    height: 70%;
    width: 75%;
    border-radius: 150px;
    background: url(../assets/Pokeball.png) rgba(0,0,0, 0.1);
    background-size: contain;
    
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Classes para tipagem dos pokemons */
.grass {
    background-color: #78c850 !important;
}
.fire {
    background-color: #F08030;
}
.water {
    background-color: #6890F0;
}
.bug {
    background-color: #A8B820;
}
.normal {
    background-color: #A8A878;
}
.poison {
    background-color: #A040A0;
}
.electric {
    background-color: #F8D030;
}
.ground {
    background-color: #E0c068;
}
.fairy {
    background-color: #EE99AC;
}
.fighting {
    background-color: #C03028;
}
.psychic {
    background-color: #F85888;
}
.rock {
    background-color: #B8A038;
}
.ghost {
    background-color: #705898; 
}
.ice {
    background-color: #98D8D8;
}
.dragon{
    background-color: #7038F8;
}
